html, body{
    background: url(image/bg.jpg) center center no-repeat;
    height: 100%;
}
#logo img{
    padding-top: 20px;
}
#info p{
    color: white;
    text-align: center;
    font-family: 'Just Another Hand', cursive;
    font-size: 1.8em;
}
#counter .countdown{
    color: white;
    text-align: center;
    font-family: 'Just Another Hand', cursive;
    font-size: 3em;
}
#social ul{
    display: block;
    list-style-type: none;
    text-align: center;
}
#social ul li{
    display: inline;
}
#social .fa{
    color: white;
    margin: 5px 15px;
    position: relative;
    bottom: 0;
transition: all .2s ease-in-out;
}
#social .twitter i:hover{
    color: #00aced;
    bottom: 5px;
}
#social .facebook i:hover{
    color: #3b5998;
    bottom: 5px;
}
#social .google i:hover{
    color: #dd4b39;
    bottom: 5px;
}
#social .instagram i:hover{
    color: #bc2a8d;
    bottom: 5px;
}
#signup{
    text-align: center;
    margin-top: 20px;
}
#signup .form-inline{
    display: block;
}
#signup .btn-signup{
    color: white;
    background-color: rgba(161,186,226,0.7);
}
#signup .btn-signup:hover{
    background-color: rgba(37,165,82,1);
}
@media(max-width:768px) {
   #logo img{
    width: 50%;
} 
    #counter .countdown{
    color: white;
    font-size: 1.4em;
}
    #social .fa{
    margin: 10px 0 0;
    font-size: 2em;    
}
    #signup .btn-signup{
    margin-top: 20px; 
}
}
@media(max-width:768px) and (orientation: landscape){
    #signup .btn-signup{
    margin-top: 0;
        
}