html, body{
    background: url(image/bg.jpg) center center no-repeat;
    height: 100%;
}
#logo img{
    padding-top: 20px;
}
#info p{
    color: white;
    text-align: center;
    font-family: 'Just Another Hand', cursive;
    font-size: 1.8em;
}
#counter .countdown{
    color: white;
    text-align: center;
    font-family: 'Just Another Hand', cursive;
    font-size: 3em;
}
